# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.dpth
*.md5
*.auxlock

# IDE
.history/

# Blog posts
blog_posts/Starship_Enterprise/starship_running_away.png

# resume archive
resume_archive/
todo.txt